* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.titulo, .meme-editor, .container, .figure-img, .grid-container, .grid-container img, .contenedor-meme, .texto-meme, .texto-meme2, .input-texto, .color, .input-color, .position, .position-input {
  margin: 0;
  padding: 0;
}

.titulo {
  padding: 20px;
}

.meme-editor{
  background-color: #293133;
  color: white;
}

.contenedor {
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  gap: 30px;
  margin: 0 10%;
}

.texto{
  margin-bottom: 30px;
}

.texto h3{
  margin-bottom: 20px;
}

.figure-img, .grid-container img {
  width: 100%;
}

.figure-img {
  height: auto;
}

.edit-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.color-position{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.grid-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 200px;
  gap: 20px;
  max-width: 80vw;
  margin:auto;
}

.grid-container img {
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.tamaño-letra{
  display: flex;
  flex-direction: column;
  gap:20px;
}
.contenedor-meme {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  overflow: hidden;
}

.position-inputs {
  display: flex;
}

.texto-meme, .texto-meme2{
  position: absolute;
  word-wrap: break-word;
  text-align: left;
  font-weight: bold; 
  left:5%;
  right:5%;
  top:5%;
}

.input-texto, .color, .input-color{
 display:flex;
 flex-direction:column;
 align-items: center;
 justify-content:center;
 gap:10px;
}

.edit-container2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.tamaño-letra{
  margin-bottom: 30px;
}

.input-color{
 color:#ffc0cb;
 padding:10px;
 
}

.color h3{
 margin-top:20px;
}

.position{
 display:flex;
 justify-content: center;

}

.position-input{
 display:flex;
 flex-direction:column;
 border-radius:15px;
 padding:10px;
 margin-right: 10px;
}

.position-input label, .position-input input {
  display: block;
}